<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App Store</title>
    <Link rel="stylesheet" href="./css/main.css"></Link>
    <link rel="stylesheet" href="./css/normalize.css"/>
    <link rel="stylesheet" href="./css/line-awesome.css"/>
    <link rel="stylesheet" href="./css/line-awesome.min.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="head1">
                <i class="lab la-facebook icons"></i>
                <i class="lab la-twitter icons"></i>
                <i class="lab la-linkedin icons"></i>
                <i class="lab la-instagram icons"></i>
            </div>
            <div class="head2">
                <h1 class="title1"><i class="las la-shopping-bag icon2"></i>Shop</h1>
                    <div class="search1">
                    <input class="search" type="search">
                    <button class="btn1"><i class="las la-search"></i></button>
                    
                    </div>
                <div class="icons3">
                    <i class="las la-shopping-basket icon3"></i>
                    <i class="las la-cog icon3"></i>
                </div>
            </div>
            <div class="head3">
                <ul class="nav">
                    <li>Home</li>
                    <li>Clothing</li>
                    <li>Electronics</li>
                    <li>Watches</li>
                    <li>Shoes</li>
                    <li>Bages</li>
                    <li>Blog</li>
                    <li>Pages</li>
                    <li>Contact</li>
                </ul>
            </div>
        </div>

        
    </header>
    <div class="container">
        <div class="perant">
            
                <div class="section1">
                    <div class="details">
                        <ul class="nav2">
                            <li class="options"><i class="las la-bars"></i>Options</li>
                            <li><i class="las la-shopping-bag"></i>Clothing</li>
                            <li><i class="las la-laptop-code"></i>     Electronics</li>
                            <li><i class="las la-shoe-prints"></i>Shoes</li>
                            <li><i class="las la-clock"></i>Watches</li>
                            <li><i class="las la-gem"></i>Jewelley</li>
                            <li><i class="las la-futbol"></i>Sport</li>
                            <li><i class="las la-baby-carriage"></i>Kids and Babies</li>
                        </ul>
                    </div>
                    <div class="info">
                        <div class="img1">
                            <img src="./imgeas/info1.jpg" alt="">
                        </div>
                        <div class="content">
                            
                            <h1>New Watch</h1>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut est, officiis libero impedit voluptas placeat nobis doloremque dolore quisquam sapiente quia eos earum tempore.</p>
                            <button> SHOP NOW</button>
                        </div>
                    </div>
                </div>
                <div class="section2">
                    <div class="card">
                        <h2>Hot deals</h2>
                        <div class="./imgeas/img3.jpg">
                            <img src="./imgeas/img1.jpg" alt="">
                        </div>
                    
                        <div class="btn2">
                            <button>120 Days</button>
                            <button>20 HRS</button>
                            <button>30 MINS</button>
                            <button>60 SEC</button>
                        </div>
                       <div class="details_card">
                        <h3>New Clothes</h3>
                        <span>$200.00</span>
                        <button class="btn3"><i class="las la-shopping-basket icon3"></i>Add To Card</button>
                       </div>
                    </div>
                    <div class="products products-query prod">
                        <h1>NEW PRODUCT</h1>
                        <div class="new-pro">
                            <div class="card1">
                                <img src="./imgeas/pro1.jpg" alt="">
                                <h4>headphone</h4>
                               
                                <h6>$150.00 _</h6><h6 class="dis">$200.00</h6>
                                <div class="fun">
                                    <button class="add">+</button>
                                    <button class="more">Read More</button>
                                   </div>
                            </div>
                            <div class="card1">
                                <img src="./imgeas/pro2.jpg" alt="">
                                <h4>headphone</h4>
                                <h6>$150.00 _</h6><h6 class="dis">$200.00</h6>
                                <div class="fun">
                                    <button class="add">+</button>
                                    <button class="more">Read More</button>
                                   </div>
                            </div>
                            <div class="card1">
                                <img src="./imgeas/img3.jpg" alt="">
                                <h4>headphone</h4>
                                <h6>$150.00 _</h6><h6 class="dis">$200.00</h6>
                                <div class="fun">
                                    <button class="add">+</button>
                                    <button class="more">Read More</button>
                                   </div>
                            </div>
                            <div class="card1">
                                <img src="./imgeas/pro4.jpg" alt="">
                                <h4>headphone</h4>
                                <h6>$150.00 _</h6><h6 class="dis">$200.00</h6>
                                <div class="fun">
                                    <button class="add">+</button>
                                    <button class="more">Read More</button>
                                   </div>
                            </div>
                            <div class="card1">
                                <img src="./imgeas/pro5.png" alt="">
                                <h4>headphone</h4>
                                <h6>$150.00 _</h6><h6 class="dis">$200.00</h6>
                                <div class="fun">
                                    <button class="add">+</button>
                                    <button class="more">Read More</button>
                                   </div>
                            </div>
                            <div class="card1">
                                <img src="./imgeas/pro6.png" alt="">
                                <h4>headphone</h4>
                                <h6>$150.00 _</h6><h6 class="dis">$200.00</h6>
                                <div class="fun">
                                    <button class="add">+</button>
                                    <button class="more">Read More</button>
                                   </div>
                            </div>
                        </div>
    
                        
                    </div>
                </div>
            
            </div>
    

                
           
        </div>
    </div>
 
</body>

</html>